<?xml version="1.0"?>
<launch>

<!--
  <param name="kitchen_description"
  textfile="$(find iai_maps)/urdf/table_brown.urdf"/>

  <node pkg="tf" type="static_transform_publisher"
	name="kitchen_link_broadcaster"
	args="0 0 0 0 0 0 /odom_combined /iai_kitchen/table_top_link 200">
  </node>

  <node pkg="robot_state_chain_publisher" type="state_chain_publisher"
    name="kitchen_state_publisher" output="screen">
    <param name="tf_prefix" value="/iai_kitchen"/>
    <param name="publish_frequency" value="2"/>
    <remap from="robot_description" to="kitchen_description" />
  </node>

-->
<!-- <include file="$(find sot_robot)/launch/pr2/emptyworld.launch"/> -->
<!-- <node name="rqt_console" pkg="rqt_console" type="rqt_console" /> -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="false" />
    </include>

    <node name="pr2_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <!-- Startup PR2 without any mechanism controllers -->
    <include file="$(find sot_robot)/launch/pr2/pr2_nocontrollers.launch" />


    <rosparam file="$(find pr2_controller_configuration_gazebo)/config/pr2_base_controller.yaml" command="load" />
    <rosparam file="$(find pr2_controller_configuration_gazebo)/config/pr2_odometry.yaml" command="load" />
    <node name="pr2_base_controllers_spawner" pkg="pr2_controller_manager" type="spawner" output="screen"
    args="--wait-for=/calibrated base_controller base_odometry" />


</launch>
