<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find bandl_setup_description)/urdf/bandl_scene.urdf.xacro'" />

 <param name="robot_description_sot" command="$(find xacro)/xacro.py '$(find bandl_setup_description)/urdf/bandl_scene.urdf.xacro'" />


    <param name="use_gui" value="false"/>
    <param name="robot_base_link" value="base_link"/>

    <arg name="frame" value="robot_pedestal_link"/>
    <arg name="child_frame" value= "base_link"/>
    <param name="ref_link" value="world"/>

 


     <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
	<env name="ROS_NAMESPACE" value=""/>
    </node>

</launch>

